*{
    font-family: 'Lato', sans-serif;
}


p{
    background-color: aquamarine;
    text-align: center;
    max-width: 20%;
    margin: 50px auto;
    color: gray;
    padding: 5px;
}
.h2:hover{
    color: red;
    background-color: antiquewhite;
}

.btn_container{
    display: flex;
    gap: 10px;
}
.card{
    background-color: #fdf1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    max-width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(70, 65, 65, 0.248);
}
.buttonStyle{

padding: 10px;
background-color:green;
color: whitesmoke;
border: none;
border-radius: 10px;

}
.buttonStyle2{

padding: 10px;
background-color:tomato;
color: whitesmoke;
border: none;
border-radius: 10px;

}


.section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#reset{
   
padding: 10px 5px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 10px;
margin-top: 80px;}

#reset:hover{
    color: black;
    background-color:papayawhip;
}














@media screen  and (max-width:560px){


    .section{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    
    
}